body {
  background-color: #f7f7f7;
}
#searchbar {
  margin-top: 25px;
  margin-bottom: 25px;
}
#sidebar {
  border: solid 1px #F7F7F7;
  box-shadow: 0px 0px 5px #777777;
  background-color: white;
}
#sidebar h3 {
  font-size: medium;
  text-align: center;
}
#content {
  background-color: white;
  padding: 25px, 25px, 25px, 25px;
  box-shadow: -1px -1px 5px #777777;
  padding-bottom: 300px;
  margin-bottom: 25px;
}
.table-content {
  width: 90%;
  margin: auto;
}
.table-content tr:nth-child(even) {
  background-color: #f7f7f7;
}
footer {
  position: relative;
  height: 150px;
  clear: both;
  padding-top: 20px;
}
/* à encapsuler pour codeMirror*/
textarea {
  width: 100%;
}
.snippet-details-labels {
  font-weight: bold;
}
.snippet-details-labels:after {
  content: ": ";
}
